.header {
  display: flex;
  padding: 0 var(--side-margin) 0;
  flex-direction: column-reverse;
  align-items: center;
  background-color: var(--offwhite);

  @media (min-width: 720px) {
    min-height: 11rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header-image {
  max-height: 11rem;
  max-width: 11rem;
  @media (min-width: 720px) {
    max-height: 22rem;
    max-width: 22rem;
  }
}
.header-image > img {
  width: 100%;
  height: auto;
}

.venue-container {
  padding: 3rem var(--side-margin) 0;
}

.venue-info {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 54%;
    grid-column-gap: 4rem;
  }
}

.venue-name {
  color: var(--blue);
}

h3 {
  color: var(--darkgrey);
}
ul {
  font-size: 0.8rem;
  padding: 0;
}

.map-icon {
  position: relative;
  --icon-size: 1.5rem;
  padding-left: calc(var(--icon-size) + 0.6em);
  margin-right: 0.5rem;

  &::before {
    content: '';
    background: url('confboxAsset(assets/map.svg)') no-repeat;
    background-size: contain;
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.car-icon {
  position: relative;
  --icon-size: 1.5rem;
  padding-left: calc(var(--icon-size) + 0.6em);
  margin-right: 0.5rem;

  &::before {
    content: '';
    background: url('confboxAsset(assets/car.svg)') no-repeat;
    background-size: contain;
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.train-icon {
  position: relative;
  --icon-size: 1.5rem;
  padding-left: calc(var(--icon-size) + 0.6em);
  margin-right: 0.5rem;

  &::before {
    content: '';
    background: url('confboxAsset(assets/train.svg)') no-repeat;
    background-size: contain;
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.airplane-icon {
  position: relative;
  --icon-size: 1.5rem;
  padding-left: calc(var(--icon-size) + 0.6em);
  margin-right: 0.5rem;

  &::before {
    content: '';
    background: url('confboxAsset(assets/airplane.svg)') no-repeat;
    background-size: contain;
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
